<header id="head" class="perritodudoso">
    <div class="hero-text-box2">
        <div class="row">
            <h1 class="col-md-8 dudas">Registro de perros para dar en adopción</h1>
        </div>
    </div>
</header>
<div class="general">
    <section class="contact-section">
        <div class="my-5 inner-contact">
            <form class="contact-form " [formGroup]="modeloPerro" (ngSubmit)="registrarPerro()">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Nombre</label>
                    <input type="email" formControlName="nombrePerro" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Raza</label>
                    <input type="email" class="form-control" formControlName="raza" id="exampleFormControlInput1" placeholder="Raza">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Selecciona el tamaño</label>
                    <select class="form-control" formControlName="tamanio" id="exampleFormControlSelect1">
        <option>Selecciona...</option>
        <option>Pequeño</option>
        <option>Mediano</option>
        <option>Grande</option>
      </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Edad</label>
                    <input type="email" formControlName="edad" class="form-control" id="exampleFormControlInput1" placeholder="Edad">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Correo de contacto</label> <input type="email" formControlName="correoContacto" class="form-control" id="exampleFormControlInput1" placeholder="nombre@dominio.com">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Descripci&oacute;n del perro</label>
                    <textarea formControlName="descripcion" class="form-control" id="#" rows="3" placeholder="Escribe..."></textarea>
                </div>
                <div class="form-group">
                    <a routerLink="/main"><input class="btn btn-success" type="submit" value="Guardar"></a>
                </div>
            </form>
            <table class="gridList">
                <tr>
                    <th>Id Perro</th>
                    <th>Nombre</th>
                    <th>Raza</th>
                    <th>Tamaño</th>
                    <th>Correo de Contacto</th>
                    <th>Descripcion</th>
                </tr>
                <tr *ngFor="let perro of perroList">
                    <td>{{ perro.perroId }}</td>
                    <td>{{ perro.nombrePerro }}</td>
                    <td>{{ perro.raza }}</td>
                    <td>{{ perro.tamanio }}</td>
                    <td>{{ perro.correoContacto }}</td>
                    <td>{{ perro.descripcion}}</td>
                </tr>
            </table>


        </div>