header,
.perritodudosoConocenos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../src/assets/img/perritos_familia.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
}

* {
  outline: none;
}

section {
    padding: 80px 0 0 0;
}

.box {
    padding: 1%;
}

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  opacity: 0.80;
}

/* ----------------------------------------------- */
/* Ciudades */
/* ----------------------------------------------- */

.section-familias {
    width: 60%;
    margin: auto;
    padding-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

.carousel-caption {
  color: black;
}

.carousel-caption p {
  font-weight: 400;
}


/* ----------------------------------------------- */
/* Testimonios */
/* ----------------------------------------------- */


.section-testimonials {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../src/assets/img/back-lights.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../src/assets/img/back-lights.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    padding: 80px 0;
    margin: auto;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
