    @import "variables";
    header,
    .header-login {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../src/assets/img/loginDog.jpg");
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    .container-fluid-login {
        padding: $padding-container;
    }

    .links {
        margin-top: 40%;
    }

    .nocuenta {
        color: $color-texto;
        font-size: 20px;
        padding-left: 30px;
        text-align: center;
    }

    .inner-header {
        color: $color-texto;
        height: 30%;
        font-size: 50%;
    }

    .label-color {
        color: $color-texto;
    }

    @mixin estilo-input($border,
    $style) {
        border-radius: $border;
        border-style: $style;
    }

    .btn-login {
        margin-left: -0.8vw;
    }

    .btn-login1 {
        border-radius: 10%;
    }

    .btn-registro1 {
        border-radius: 10%;
        margin-left: 10%;
    }

    .border-input {
        @include estilo-input(4px,
        solid)
    }

    .border-btn {
        @include estilo-input(5px,
        solid);
        &-primary {
            border-color: darken(grey, 2%);
        }
        margin-left:20%;
    }

    .btn-regis {
        margin-left: 25vw;
        margin-top: 3vh;
    }

    .btn-forgot {
        margin-left: 41vw;
        margin-top: -5vh;
    }

    .anchor-regisForgot {
        font-size: $font-btn-regisForgot;
    }
