<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-3">
                <div class="card h-100">
                    <img class="card-img-top" src="../../../../../assets/img/loginDog.jpg" alt="First dog">
                    <div class="card-body">
                        <h5 class="card-title">Roque</h5>
                        <p class="card-text">Es un perro lleno de energía, excelente para niños pequeños</p>
                        <p class="card-text">5 km</p>
                        <a href="" class="btn btn-outline-success btn-sm">Conocer</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 mb-3">

                <div class="card h-100">
                    <img class="card-img-top" src="../../../../../assets/img/perro.jpg" alt="First pattern">
                    <div class="card-body">
                        <h5 class="card-title">Roque</h5>
                        <p class="card-text">Es un perro lleno de energía, excelente para niños pequeños</p>
                        <p class="card-text">5 km</p>
                        <a href="" class="btn btn-outline-success btn-sm">Conocer</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 mb-3">

                <div class="card h-100">
                    <img class="card-img-top" src="../../../../../assets/img/loginDog.jpg" alt="First pattern">
                    <div class="card-body">
                        <h5 class="card-title">Roque</h5>
                        <p class="card-text">Es un perro lleno de energía, excelente para niños pequeños</p>
                        <p class="card-text">5 km</p>
                        <a href="" class="btn btn-outline-success btn-sm">Conocer</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 mb-3">

                <div class="card h-100">
                    <img class="card-img-top" src="../../../../../assets/img/perro.jpg" alt="First pattern">
                    <div class="card-body">
                        <h5 class="card-title">Roque</h5>
                        <p class="card-text">Es un perro lleno de energía, excelente para niños pequeños</p>
                        <p class="card-text">5 km</p>
                        <a href="" class="btn btn-outline-success btn-sm">Conocer</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 mb-3">

                <div class="card h-100">
                    <img class="card-img-top" src="../../../../../assets/img/loginDog.jpg" alt="First pattern">
                    <div class="card-body">
                        <h5 class="card-title">Roque</h5>
                        <p class="card-text">Es un perro lleno de energía, excelente para niños pequeños</p>
                        <p class="card-text">5 km</p>
                        <a href="" class="btn btn-outline-success btn-sm">Conocer</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 mb-3">

                <div class="card h-100">
                    <img class="card-img-top" src="../../../../../assets/img/perro.jpg" alt="First pattern">
                    <div class="card-body">
                        <h5 class="card-title">Roque</h5>
                        <p class="card-text">Es un perro lleno de energía, excelente para niños pequeños</p>
                        <p class="card-text">5 km</p>
                        <a href="" class="btn btn-outline-success btn-sm">Conocer</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 mb-3">

                <div class="card h-100">
                    <img class="card-img-top" src="../../../../../assets/img/loginDog.jpg" alt="First pattern">
                    <div class="card-body">
                        <h5 class="card-title">Roque</h5>
                        <p class="card-text">Es un perro lleno de energía, excelente para niños pequeños</p>
                        <p class="card-text">5 km</p>
                        <a href="" class="btn btn-outline-success btn-sm">Conocer</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 mb-3">

                <div class="card h-100">
                    <img class="card-img-top" src="../../../../../assets/img/perro.jpg" alt="First pattern">
                    <div class="card-body">
                        <h5 class="card-title">Roque</h5>
                        <p class="card-text">Es un perro lleno de energía, excelente para niños pequeños</p>
                        <p class="card-text">5 km</p>
                        <a href="" class="btn btn-outline-success btn-sm">Conocer</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 mb-3">

                <div class="card h-100">
                    <img class="card-img-top" src="../../../../../assets/img/loginDog.jpg" alt="First pattern">
                    <div class="card-body">
                        <h5 class="card-title">Roque</h5>
                        <p class="card-text">Es un perro lleno de energía, excelente para niños pequeños</p>
                        <p class="card-text">5 km</p>
                        <a href="" class="btn btn-outline-success btn-sm">Conocer</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
                
            </div>
    </div>
    </div>
</section>