<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-3" *ngFor="let perro of perrosObjeto">
                <div class="card h-100">
                    <img class="card-img-top" [src]="'http://localhost:3000/' + perro.url" alt="First dog">
                    <div class="card-body">
                        <h5 class="card-title">{{perro.nombre}}</h5>
                        <p class="card-text"> Edad : {{perro.edad}}</p>
                        <p class="card-text">{{perro.raza}}</p>
                        <p i18n="Descripcio perro|Acerca de nosotros@@perro1" class="card-text">{{perro.descripcion}}</p>
                        <a href="mailto:'{{perro.correoContacto}}'" i18n="Conoce boton|Acerca de nosotros@@botonConoce" class=" nav-link btn btn-outline-success btn-sm">Contactar</a>
                        <!-- <a  class=" nav-link btn btn-outline-danger btn-sm" routerLink="/perfil-perro"><i class="far fa-heart"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
