<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h2 i18n="Mis denuncias|Encabezado mis denuncias@@misDenuncias">Mis denuncias</h2>
            <div class="d-flex justify-content-center">
                <p i18n="Descripcion mis denuncias|Descripcion de las denuncias@@descMisDenuncias">Aquí podras realizar denuncias a tu nombre o anónimas, las cuales serán reportadas con el gobierno de la CDMX y podrás ver su estado.</p>
            </div>
        </div>
    </div>
</div>
<div class="container section-conocenos">
    <div class="row">
        <table class="table table-striped">
            <thead>
              <tr>
                <th i18n="Fecha denuncia|Columna fecha @@fechaDen" scope="col">Fecha</th>
                <th i18n="Fecha denuncia| denuncia @@den" scope="col">Denuncia</th>
                <th i18n="Anonima denuncia|Columna anonima @@anonCol" scope="col">Anónima</th>
                <th i18n="Ubicacion denuncia|Columna ubicacion @@ubiCol" scope="col">Ubicación</th>
                <th i18n="Estatus denuncia|Columna estatus @@estatusCol" scope="col">Estatus</th>
                <th scope="col"><app-formulario></app-formulario></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>20-12-2020</td>
                <td i18n="Pista|Texto pista @@pista">Selecciona Nuevo para ver formulario</td>
                <td i18n="Anon si|Estado de denuncia anonima @@anonSi">Si</td>
                <td i18n="Info tabla| Info tabla @@infoTabla">agrega y veras en la tabla</td>
                <td i18n="Status|Status @@status">En Proceso</td>
                <td><app-cerrar-sesion></app-cerrar-sesion><app-editar></app-editar></td>
              </tr>
              <tr *ngFor="let den of denunciasObjeto">
                
                <td>{{den.fecha}}</td>
                <td>{{den.descripcion}}</td>
                <td>{{den.responsableDenuncia}}</td>
                <td>{{den.ubicacion}}</td>
                <td>{{den.estatus}}</td>
                <td>
                  <ng-template #content let-c="close" let-d="dismiss">

                  <div class="modal-header">
                      <h4 i18n="Editar denuncia|Editar una  denuncia@@regDenuncia" class="modal-title" id="modal-basic-title">Editar una denuncia</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="modeloDenuncias" (ngSubmit)="enviar()">
                          <div class="form-group">
                              <label i18n="Denuncia titulo|Titulo de la denuncia@@titulodenuncia" for="exampleFormControlInput1">Titulo de la denuncia:</label>
                              <input type="text" formControlName="descripcion" class="form-control" id="exampleFormControlInput1" placeholder="{{den.descripcion}}">
                
                          </div>
                          <div class="form-group">
                              <label i18n="Denuncia fecha|Fecha de la denuncia@@fechaDenuncia" for="exampleFormControlInput1">Fecha de la denuncia:</label>
                              <input type="date" formControlName="fecha" class="form-control" id="exampleFormControlInput1" placeholder="{{den.fecha}}">
                
                
                          </div>
                          <div class="form-group">
                              <label i18n="Denuncia anonima|anonima?@@anonima" for="exampleFormControlInput1">Autor de la denuncia</label>
                              <input type="text" formControlName="responsableDenuncia" class="form-control" id="exampleFormControlInput1" placeholder="{{den.responsableDenuncia}}">
                
                
                          </div>
                          <div class="form-group">
                              <label i18n="Denuncia ubicacion|Ubicacion de la denuncia@@ubicacionDenuncia" for="exampleFormControlInput1">Ubicacion de la denuncia:</label>
                              <input type="text" formControlName="ubicacion" class="form-control" id="exampleFormControlInput1" placeholder="{{den.ubicacion}}">
                
                          </div>
                          <div class="form-group">
                              <label i18n="Denuncia estatus|Estatus de la denuncia@@estatus" for="exampleFormControlInput1">Estatus de la denuncia:</label>
                              <input type="text" formControlName="estatus" class="form-control" id="exampleFormControlInput1" placeholder="{{den.estatus}}">
                
                          </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button i18n="Guardar|Boton para guardar denuncia@@guardar" type="button" class="btn btn-primary" (click)="editar(den, den._id)">Guardar Cambios</button>
                      <button i18n="Cancelar|Boton para cancelar denuncia@@cancelar" type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancelar</button>
                    </div>
                </ng-template>
                  
                <a  class=" nav-link btn btn-success btn-sm" (click)="open(content)"><i class="fa fa-address-card"></i></a><a  class=" nav-link btn btn-danger btn-sm" (click)="eliminar(den._id)"><i class="fa fa-trash"></i></a></td>
              </tr>
            </tbody>
          </table>
    </div>

    <hr class="featurette-divider">
</div>
