<div class="row">
        <div class="col-md-4">
            <div class="foto-perfil">
                <img src="../../../../../assets/img/perfil-foto.jpeg" alt=""/>
                <div i18n="Cambio foto|Cambiar de foto de perfil@@cambioFoto" class="file btn btn-lg btn-primary">
                    Cambiar foto
                    <input type="file" name="file"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="perfil-superior">
                        <h5>
                            Alfredo Osuna
                        </h5>
                        <h6 i18n="Descripcion Perfil|Descripcion del usuario en el perfil@@descPerfil">
                            Amante de los animales, vivo en CDMX y he concluido dos procesos de adopción
                        </h6>

                <div class="row">

                                <div i18n="Telefono|Numero de telefono del contacto@@telefono" class="col-md-6">
                                    <label>N&uacute;mero de tel&eacute;fono</label>
                                </div>
                                <div class="col-md-6">
                                    <p>79817201729</p>
                                </div>

                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>amoalosperros@gmail.com</p>
                                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a i18n="Procesos|Procesos de adopcion del usuario@@procesos" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mis Procesos</a>
                    </li>
                    <li class="nav-item">
                        <a i18n="Favoritos|Perros favoritos del usuario@@favoritos" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Favoritos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
