<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <h2 i18n="Why|Por que adoptar@@why">¿Por qué adoptar?</h2>
            <div class="d-flex justify-content-center">
                <p i18n="Info perros callejeros|Informacion del problema@@infoPerros">México es el país con mayor número de perros callejeros en Latinoamérica y aproximadamente en la CDMX hay un millón doscientos mil perros callejeros. Esto hace que se convierta en un problema de salud pública por las heces que se encuentran en la calle y cadáveres que no son recogidos de los perros callejeros. De igual manera, aproximadamente 10 mil perros son sacrificados al mes en perreras solamente en CDMX. </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="d-flex justify-content-center">
                <img src="../../../../../assets/img/perroConocenos.jpeg" class="imagen_conocenos">
            </div>

        </div>
    </div>
    <hr class="featurette-divider">
</div>
