<footer class="footer-bs py-3 mb-0">
    <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft">
            <img src="../../../assets/img/logo.png" alt="Logo" class="logo2"> 
            <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
            <p>© Nombre Equipo, All rights reserved</p>
        </div>
        <div class="col-md-3 footer-nav animated fadeInUp mt-0">
            <h4>Menu —</h4>
            <div class="col-md-6">
                <ul class="list">
                    <li><a>Inicio</a></li>
                    <li><a>Conoce</a></li>
                    <li><a>Familias</a></li>
                    <li><a>Contacto</a></li>
                    <li><a>Denuncias</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown mt-0">
            <h4>S&iacute;guenos</h4>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-social animated fadeInDown mt-0">
            <h4>Newsletter</h4>
            <p>Suscr&iacute;bete!</p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter your email">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="fas fa-envelope"></span></button>
                </span>
            </div>
        </div>
        
    </div>
    
</footer>
    


