<footer class="footer-bs py-3 mb-0">
    <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft">
            <img src="../../../assets/img/logo.png" alt="Logo" class="logo2">
            <p i18n="Descripcion app|Descripcion de la app@@descApp">WebDogs es una aplicación web que busca ayudar a combatir el problema de los perros callejeros en Mexico.</p>
            <p i18n="Derechos Reservados|Copyright aplicacion@@derechos">© WebDogs Team, All rights reserved</p>
        </div>
        <div class="col-md-3 footer-nav animated fadeInUp mt-0">
            <h4>Menu —</h4>
            <div class="col-md-6">
                <ul class="list">
                    <li><a i18n="Inicio footer|Pestaña de inicio en footer@@inicioFooter">Inicio</a></li>
                    <li><a i18n="Conoce footer|Pestaña de conoce en footer@@conoceFooter">Conoce</a></li>
                    <li><a i18n="Familias footer|Pestaña de familias en footer@@familiasFooter">Familias</a></li>
                    <li><a i18n="Contacto footer|Pestaña de contacto en footer@@contactoFooter">Contacto</a></li>
                    <li><a i18n="Denuncias footer|Pestaña de denuncias en footer@@denunciasFooter">Denuncias</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown mt-0">
            <h4 i18n="Seguir en redes|Seguir en las diferentes redes@@seguir">S&iacute;guenos</h4>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-social animated fadeInDown mt-0">
            <h4>Newsletter</h4>
            <p i18n="Boton suscripcion|Suscribirse al newsletter@@suscribe">Suscr&iacute;bete!</p>
            <div class="input-group" style="width: 130%;">
                <input type="text" class="form-control" placeholder="Enter your email">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="fas fa-envelope"></span></button>
                </span>
            </div>
        </div>

    </div>

</footer>
