<div class="container section-conocenos">
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="d-flex justify-content-center">
                <img src="../../../../../assets/img/cachorroConocenos.jpeg" class="imagen_conocenos">
            </div>
            
        </div>
        <div class="col-lg-8 col-md-12">
            <h2>¿Quienes somos?</h2>
            <div class="d-flex justify-content-center">
                <p>Nuestro sistema busca disminuir los perros de la calle brindando un medio para que las organizaciones y refugios puedan tener una plataforma de adopción responsable en la cual puedan corroborar de forma más rápida los datos de las personas que quieran adoptar agilizando el proceso de adopción. De igual manera, se busca que se informe a los usuarios sobre la problemática y sobre el proceso para que estos perros no terminen otra vez en la calle y también los usuarios podrán subir reportes o denuncias de perros maltratados por sus dueños o que sus condiciones sean deplorables.</p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
