<!-- <app-registrar-perro-formulario></app-registrar-perro-formulario> -->
<section>
    <app-registrar-perro-formulario></app-registrar-perro-formulario>
    <button i18n="Mostrar perros|Acerca de nosotros@@mostrarPerros" class="btn btn-primary ml-5" (click)="toggle()">Mostrar Perros Registrados</button>
    <div class="row" [@childAnimation]="estilo ? 'closed' : 'open'">
        <h3 i18n="Titulo Perros|Acerca de nosotros@@tituloPerros">Perros:</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th i18n="Columna nombre|Acerca de nosotros@@columnaNombre" scope="col">Nombre</th>
                    <th i18n="Columna raza|Acerca de nosotros@@columnaRaza" scope="col">Raza</th>
                    <th i18n="Columna tamaño|Acerca de nosotros@@columnaTamano" scope="col">Tamaño</th>
                    <th i18n="Columna edad|Acerca de nosotros@@columnaEdadPerro" scope="col">Edad</th>
                    <th i18n="Columna correo|Acerca de nosotros@@columnaCorreo" scope="col">Correo contacto</th>
                    <th i18n="Columna descripcionAcerca de nosotros@@columnaDesc" scope="col">Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let cont of perros">
                    <td>{{cont.nombrePerro}}</td>
                    <td>{{cont.raza}}</td>
                    <td>{{cont.tamanio}}</td>
                    <td>{{cont.edad}}</td>
                    <td>{{cont.correoContacto}}</td>
                    <td>{{cont.descripcion}}</td>
                </tr>  -->
            </tbody>
        </table>
    </div>
</section>
