<ng-template #content let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Registrar una denuncia</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          ¿Seguro que quiere cerrar sesión?
      </div>
      <div class="modal-footer">
        <a class="nav-link" routerLink="/login"><button type="button" class="btn btn-primary" (click)="logout()">Si</button></a>
        <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancelar</button>
      </div>
  </ng-template>

  <a class="nav-link"(click)="open(content)">Cerrar Sesion</a>
