<div class=" container-fluid-login header-login ">
    <div class="d-flex justify-content-center">
        <div class="inner">
            <div class="inner-header">
                <h3>Inicio de Sesi&oacute;n</h3>
            </div>
            <div class="inner-body">
                <form>
                    <div class="input-group form-group justify-content-center">
                        <input type="email" class="border-input" placeholder="Correo" required>
                    </div>
                    <div class="input-group form-group justify-content-center">
                        <input type="password" class="border-input" placeholder="Contrase&ntilde;a" required>
                    </div>
                    <div class="form-group justify-content-center btn-login">
                        <a routerLink="/main" (click)="logear()"><input type="submit" value="Iniciar Sesi&oacute;n" class="btn btn-primary float-left border-btn"></a>
                    </div>
                </form>
            </div>
            <div class="links">
                <div class="d-flex ">
                    <p><span class="nocuenta">Soy nuevo : </span><a routerLink="/registro">Reg&iacute;strate</a></p>
                </div>
                <div class="d-flex nocuenta">
                    <a href="#">Olvide mi contrase&ntilde;a</a>
                </div>
            </div>
        </div>

    </div>
</div>
