<section class="section-testimonials">
    <div class="row mb-5 text-center">
        <h2>Nuestros usuarios est&aacute;n felices</h2>
    </div>
    <div class="row text-center">
        <div class="col-md-4 span-1-of-3">
            <blockquote>
                WebDogs me ha parecido incre&iacute;ble. Desde que adoptamos, mi familia es m&aacute;s feliz y se nota.
                <cite><img src="../../../../../assets/img/customer-1.jpg">Alberto P&eacute;rez</cite>
            </blockquote>
        </div>
        <div class="col-md-4 span-1-of-3">
            <blockquote>
                WebDogs facilita por mucho el proceso de adopc&iacute;on. Antes no hab&iacute;a podido y ahora tengo 3 nuevos amigos en casa.
                <cite><img src="../../../../../assets/img/customer-2.jpg">Joana Silva</cite>
            </blockquote>
        </div>
        <div class="col-md-4 span-1-of-3">
            <blockquote>
Estuve buscando un servicio en mi ciudad, que me permitiera adoptar de forma f&aacute;cil y sencilla.  WebDogs fue la soluci&oacute;n. Gracias!
            <cite><img src="../../../../../assets/img/customer-3.jpg">Carlos Viana</cite>
            </blockquote>
        </div>
    </div>
</section>