<section class="section-testimonials">
    <div class="row mb-5 text-center">
        <h2 i18n="Usuarios|Felices encabezado@@usuariosFelices">Nuestros usuarios est&aacute;n felices</h2>
    </div>
    <div class="row text-center">
        <div class="col-md-4 span-1-of-3">
            <blockquote i18n="Opinion 1|Acerca de nosotros@@opinion1">
                WebDogs me ha parecido incre&iacute;ble. Desde que adoptamos, mi familia es m&aacute;s feliz y se nota.
            </blockquote>
            <cite><img src="../../../../../assets/img/customer-1.jpg">Alberto P&eacute;rez</cite>
        </div>
        <div class="col-md-4 span-1-of-3">
            <blockquote i18n="Opinion 2|Acerca de nosotros@@opinion2">
                WebDogs facilita por mucho el proceso de adopc&iacute;on. Antes no hab&iacute;a podido y ahora tengo 3 nuevos amigos en casa.
            </blockquote>
            <cite><img src="../../../../../assets/img/customer-2.jpg">Joana Silva</cite>
        </div>
        <div class="col-md-4 span-1-of-3">
            <blockquote i18n="Opinion 3|Acerca de nosotros@@opinion3">
                Estuve buscando un servicio en mi ciudad, que me permitiera adoptar de forma f&aacute;cil y sencilla.  WebDogs fue la soluci&oacute;n. Gracias!
            </blockquote>
            <cite><img src="../../../../../assets/img/customer-3.jpg">Carlos Viana</cite>
        </div>
    </div>
</section>
