@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic'");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
header,
.header-login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/loginDog.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; }

.container {
  padding: 80px; }

.links {
  margin-top: 40%; }

.nocuenta {
  color: aliceblue;
  font-size: 20px;
  padding-left: 30px;
  text-align: center; }

.inner-header {
  color: aliceblue;
  height: 30%;
  font-size: 50%; }

.label-color {
  color: aliceblue; }

.border-input {
  border-radius: 4px;
  border-style: solid; }

.border-btn {
  border-radius: 5px;
  border-style: solid;
  margin-left: 20%; }
  .border-btn-primary {
    border-color: #7b7b7b; }

.btn-regis {
  margin-left: 25vw;
  margin-top: 3vh; }

.btn-forgot {
  margin-left: 41vw;
  margin-top: -5vh; }

.anchor-regisForgot {
  font-size: 0.8rem; }

.contact-form {
  width: 60%;
  margin: 0 auto; }

@media (max-width: 1000px) {
  .dudas {
    display: none; } }

.card-img-top {
  max-height: 10px; }

h1,
.titulo_adopta {
  text-align: center;
  transform: translate(0, 0);
  margin-top: 5%;
  color: black; }

.row {
  justify-content: space-evenly; }

.container {
  padding-top: 0;
  padding-bottom: 0; }

.jumbotron {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

@media screen and (max-width: 1000px) {
  h1,
  .titulo_adopta {
    margin-top: 15%; } }

#title_register {
  color: aliceblue;
  text-align: center;
  font-size: 2em;
  padding-top: 3%; }

.subtitle_plant {
  color: aliceblue;
  text-align: center;
  font-size: 1em;
  margin-top: -3%; }

#textBox {
  margin-top: 3%; }

#checkBox {
  align-content: center;
  margin-left: 30%;
  margin-top: 2%; }

.register-top {
  margin-top: -14%; }

.aceptar_terminos {
  color: rgba(240, 248, 255, 0.575);
  font-style: italic;
  text-decoration: underline;
  font-weight: lighter;
  font-size: .9em;
  margin-left: 37%; }

.color_input {
  background-color: #f9f9faa8;
  border-color: aliceblue;
  border-width: 0.1rem;
  border-radius: 0%; }

.info {
  display: block;
  background-color: #162133;
  width: 100%;
  color: aliceblue;
  height: 2.5em; }

.style_select {
  margin-top: 5%; }

.style_email {
  margin-bottom: 5%; }

.btn-margin {
  margin-top: 2vh;
  margin-right: 7vw; }

@media only screen and (max-width: 575px) {
  .spacing_textBox {
    margin-top: 5%; }
  .footer-bs .footer-nav,
  .footer-bs .footer-social,
  .footer-bs .footer-ns {
    margin-top: 10%; } }

@media (min-width: 575px) {
  .footer-bs .footer-nav,
  .footer-bs .footer-social,
  .footer-bs .footer-ns {
    margin-top: 10%; } }

.image-profile {
  width: 100%; }

.body-profile {
  color: #3c3939;
  background-color: #f1f1f1;
  margin-top: -5%; }

.profile-card {
  width: 600px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5); }

.image-container {
  position: relative; }

.info-dog {
  color: #bba213;
  margin-right: 16px; }

.main-container {
  padding: 20px; }

.title {
  position: absolute;
  left: 15px;
  bottom: 0;
  color: black; }

@media (max-width: 650px) {
  .body-profile {
    margin-top: -7%; }
  .profile-card {
    width: 300px; }
  .btn-contactar {
    margin-left: -0%; } }

/* --------------------------------- */
/* Basic setup*/
/* --------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Css de el documento HTML en general */
html {
  background-color: white;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility; }

/* Se ajustan las caracteristicas de las filas */
.row {
  max-width: 1140px;
  margin: 0 auto; }

/* Se ajustan las caracteristicas del header y se agrega el fondo de la página de manera correcta */
header,
.backdog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/backdog.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; }

header,
.perritodudoso {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/perritodudoso1.jpg");
  background-size: cover;
  background-position: center;
  height: 40vh; }

header {
  height: 0vh; }

/* Se ajustan las caracteristicas de el texto de la primera sección de la página */
.hero-text-box {
  position: absolute;
  width: 100%;
  top: 50%; }

.hero-text-box2 {
  position: absolute;
  top: 25%; }

.first_button {
  margin-right: 2vw; }

/* Se ajustan las caracteristicas del texto que sea h1 */
h1,
.first {
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px; }

/* Se arregla el tamaño de las imagenes*/
.card-img-top {
  max-height: 100%; }

/* Se ajustan las caracteristicas de todos los botones con clase btn */
.btn {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s; }

/*
.btn: link,
.btn: visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}*/
/* Se ajustan las caracteristicas de los botones de la primera sección de la página dandoles fondos, posición y hover */
.btn-full:link,
.btn-full:visited {
  background-color: #639DF1;
  border: 1px solid #639DF1;
  color: #fff; }

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #AFE7FD;
  color: #AFE7FD; }

.btn-full:hover,
.btn-full:active {
  border: 1px solid #8ECEFC; }

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #8ECEFC;
  color: #fff; }

.btn:hover,
.btn:active {
  background-color: #8ECEFC; }

/* Se ajustan los tamaños del logo */
.logo1 {
  margin-left: 5%;
  width: 13vw; }

.logo2 {
  margin-left: 5%;
  width: 16vw; }

.logo3 {
  margin-left: 5%;
  width: 21vw; }

.logo4 {
  margin-left: 5%;
  width: 28vw; }

.logo5 {
  margin-left: 5%;
  width: 37vw; }

/* Se ajustan las caracteristicas de la barra de navegación */
.main-nav {
  float: right;
  list-style: none; }

.main-nav li {
  display: inline-block;
  margin-left: 40px; }

.main-nav li a {
  padding: 8px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s; }

.main-nav li a:hover {
  border-bottom: 2px solid #639DF1; }

.main-nav li a:active {
  border-bottom: 2px solid #639DF1; }

.main-nav li a:hover {
  border-bottom: 2px solid #639DF1; }

.main-nav li a:active {
  border-bottom: 2px solid #639DF1; }

/* Se ajustan los tamaños predetermiandos */
.fs-10 {
  font-size: 10px; }

.fs-20 {
  font-size: 20px; }

.fs-30 {
  font-size: 30px; }

.fs-40 {
  font-size: 40px; }

.fs-50 {
  font-size: 50px; }

/*Footer styles*/
/* Se ajustan las caracteristicas del footer */
.footer-bs {
  background-color: #3c3d41;
  padding: 60px 40px;
  color: white;
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px; }

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  padding: 10px 25px; }

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  border-color: transparent; }

.footer-bs .footer-brand h2 {
  margin: 0px 0px 10px; }

.footer-bs .footer-brand p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7); }

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px; }

.footer-bs .footer-nav ul.pages a {
  color: white;
  font-weight: bold;
  text-transform: uppercase; }

.footer-bs .footer-nav ul.pages a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }

.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px; }

.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-nav ul.list li {
  padding: 5px 0px; }

.footer-bs .footer-nav ul.list a {
  color: rgba(255, 255, 255, 0.8); }

.footer-bs .footer-nav ul.list a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none; }

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px; }

.footer-bs .footer-social li {
  padding: 5px 4px; }

.footer-bs .footer-social a {
  color: white; }

.footer-bs .footer-social a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px; }

.footer-bs .footer-ns p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7); }

@media (min-width: 780px) {
  .footer-bs .footer-nav,
  .footer-bs .footer-social,
  .footer-bs .footer-ns {
    border-left: solid 1px rgba(255, 255, 255, 0.1); } }

@media screen and (max-width: 1000px) {
  header,
  .backdog {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/backdog_responsive.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh; }
  header {
    height: 0; }
  .first {
    text-align: center;
    color: white; }
  .first_button {
    text-align: center;
    width: 50%;
    margin-bottom: 2%;
    margin-right: 0vw; }
  .hero-text-box {
    width: 100%; } }

/* Se ajustan las medidas de la pantalla con mínimo de ancho de 768px */
@media (min-width: 768px) {
  .footer-bs .footer-nav,
  .footer-bs .footer-social,
  .footer-bs .footer-ns {
    border-left: solid 1px rgba(255, 255, 255, 0.1); } }
