<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h2 i18n="Mapa|Mapa de la ciudad@@mapa">Mi Mapa</h2>
            <p i18n="Descripcion mapa|Descripcion del mapa@@descMapa" >Aquí podras ver el mapa con las zonas de mayores indices de maltrato en la CDMX según nuestras denuncias </p>

            <div class="d-flex justify-content-center">
                <img src="../../../../../assets/img/mapa_denuncias.jpg">
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
