<section class="body-profile">
    <div class="profile-card">
        <div class="image-container">
            <img src="../../../../../assets/img/loginDog.jpg" class="image-profile">
            <div class="title float-left">
                <h2>Roque</h2>
            </div>
        </div>
        <div class="main-container">
            <p><i class="fas fa-dog info-dog"></i>Mi nombre es Roque</p>
            <p><i class="fas fa-paw info-dog"></i>Soy un Corgi</p>
            <p><i class="fas fa-bone info-dog"></i>Soy macho</p>
            <p><i class="fas fa-paw info-dog"></i>Soy de tamaño mediano</p>
            <p><i class="fas fa-bone info-dog"></i>Soy un cachorro Juguetón</p>
            <p><i class="fas fa-paw info-dog"></i>Tengo 5 años</p>
            <p><i class="fas fa-bone info-dog"></i>Me encuentro actualmente en CDMX</p>
            <div class="text-center justify-content-center">
                <div class="form-group">
                    <input type="submit" value="Contactar al Responsable" class="btn btn-primary border-btn btn-margin btn-contactar">
                </div>
            </div>
        </div>
    </div>
</section>