<section class="body-profile">
    <div class="profile-card">
        <div class="image-container">
            <img src="../../../../../assets/img/loginDog.jpg" class="image-profile">
            <div class="title float-left">
                <h2>Roque {{perroObjeto}} </h2>
            </div>
        </div>
        <div class="main-container">
            <p i18n="Nombre del perro|Acerca de nosotros@@myName"><i class="fas fa-dog info-dog"></i>Mi nombre es Roque</p>
            <p i18n="Raza perro|Acerca de nosotros@@razaPerrito"><i class="fas fa-paw info-dog"></i>Soy un Corgi</p>
            <p i18n="Genero perro|Acerca de nosotros@@generoPerrito"><i class="fas fa-bone info-dog"></i>Soy macho</p>
            <p i18n="Tamaño perro|Acerca de nosotros@@sizePerrito"><i class="fas fa-paw info-dog"></i>Soy de tamaño mediano</p>
            <p i18n="Tipo perro|Acerca de nosotros@@tipoPerrito"><i class="fas fa-bone info-dog"></i>Soy un cachorro Juguetón</p>
            <p i18n="Edad del perro|Acerca de nosotros@@edadPerrito"><i class="fas fa-paw info-dog"></i>Tengo 5 años</p>
            <p i18n="Ubicacion del perro|Acerca de nosotros@@ubiPerrito"><i class="fas fa-bone info-dog"></i>Me encuentro actualmente en CDMX</p>
            <div class="text-center justify-content-center">
                <div class="form-group">
                    <input type="submit" i18n-value="Contactar al responsable|Acerca de nosotros@@contactaResponsable" value="Contactar al Responsable" class="btn btn-primary border-btn btn-margin btn-contactar">
                </div>
            </div>
        </div>
    </div>
</section>
