<div id="head" class="backdog">
    <div class="hero-text-box">
        <div class="row">
            <h1 class="col-12"></h1>
            <h1 i18n="Encabezado|Encabezado de la pagina@@encabezado" class="col-md-8 first">Cambia una vida hoy.<br>Adopta.</h1>
        </div>
        <div class="row">
            <h1 class="col-lg-2 col-md-0"></h1>
            <div  class="col-lg-2 col-md-12 first_button">
                <a i18n="Texto Boton|Texto de boton 1@@textoBoton1" class="btn btn-full sq-btn" href="#">Adopta <i class="fas fa-paw"></i></a>
            </div>
            <div class="col-lg-2 col-md-12 first_button">
                <a i18n="Texto Boton 2|Texto de boton 2@@textoBoton2" class="btn btn-ghost sq-btn" href="#">Ver m&aacute;s</a>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>
