<!-- <div class="hero-text-box">
    <div class="row">
        <h1 class="col-12"></h1>
        <h1 class="col-md-8 first">Cambia una vida hoy.<br>Adopta.</h1>
    </div>
    <div class="row">
        <h1 class="col-lg-2 col-md-0"></h1>
        <div class="col-lg-2 col-md-12 first_button">
            <a class="btn btn-full first_button" href="#">Adopta <i class="fas fa-paw"></i></a>
        </div>
        <div class="col-lg-2 col-md-12 first_button">
            <a class="btn btn-ghost first_button" href="#">Ver m&aacute;s</a>
        </div>

    </div>
</div> -->

<div id="head" class="backdog">
    <div class="hero-text-box">
        <div class="row">
            <h1 class="col-12"></h1>
            <h1 class="col-md-8 first">Cambia una vida hoy.<br>Adopta.</h1>
        </div>
        <div class="row">
            <h1 class="col-lg-2 col-md-0"></h1>
            <div class="col-lg-2 col-md-12 first_button">
                <a class="btn btn-full first_button" href="#">Adopta <i class="fas fa-paw"></i></a>
            </div>
            <div class="col-lg-2 col-md-12 first_button">
                <a class="btn btn-ghost first_button" href="#">Ver m&aacute;s</a>
            </div>

        </div>
    </div>
</div>