<div class="row">
        <div class="">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th i18n="Foto perro|Foto del perro@@fotoPerro" scope="col">Foto</th>
                            <th i18n="Nombre perro|Nombre del perro@@nombrePerro" scope="col">Nombre</th>
                            <th i18n="Progreso perro|Progreso de la adopcion del perro@@progreso" scope="col">Progreso</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td><img  class="img-adopt" src="../../../../../assets/img/adoptado.jpg"></td>
                            <td>Roque</td>
                            <td><div class="progress-bar btn" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td><img  class="img-adopt" src="../../../../../assets/img/adoptado1.jpg"> </td>
                            <td>Thornton</td>
                            <td><div class="progress-bar btn" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div></td>
                          </tr>

                        </tbody>
                      </table>
                </div>

            </div>
        </div>
    </div>
