<div class="row">
        <div class="">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Foto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Progreso</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td><img  class="img-adopt" src="../../../../../assets/img/adoptado.jpg"></td>
                            <td>Roque</td>
                            <td><div class="progress-bar btn" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td><img  class="img-adopt" src="../../../../../assets/img/adoptado1.jpg"> </td>
                            <td>Thornton</td>
                            <td><div class="progress-bar btn" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div></td>
                          </tr>
                         
                        </tbody>
                      </table>      
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                     <div class="row">
                        <div class="col-lg-4 mb-3">
                            <div class="card h-15">
                                <img class="card-img-top" src="css/img/loginDog.jpg" alt="First pattern">
                                <div class="card-body">
                                    <h5 class="card-title">Roque</h5>
                                    <p class="card-text">5 km</p>
                                    <a href="" class="btn btn-outline-success btn-sm">Conocer</a>
                                    <a href="" class="btn btn-outline-danger btn-sm active"><i class="far fa-heart"></i></a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-3">

                            <div class="card h-15">
                                <img class="card-img-top" src="css/img/perro.jpg" alt="First pattern">
                                <div class="card-body">
                                    <h5 class="card-title">Roque</h5>
                                    <p class="card-text">5 km</p>
                                    <a href="" class="btn btn-outline-success btn-sm">Conocer</a>
                                    <a href="" class="btn btn-outline-danger btn-sm active"><i class="far fa-heart"></i></a>
                                </div>
                            </div>

                        </div>
                         <div class="col-lg-4 mb-3">

                            <div class="card h-15">
                                <img class="card-img-top" src="css/img/perro.jpg" alt="First pattern">
                                <div class="card-body">
                                    <h5 class="card-title">Roque</h5>
                                    <p class="card-text">5 km</p>
                                    <a href="" class="btn btn-outline-success btn-sm">Conocer</a>
                                    <a href="" class="btn btn-outline-danger btn-sm active"><i class="far fa-heart"></i></a>
                                </div>
                            </div>

                        </div>
                </div>
                </div>
            </div>
        </div>
    </div> 