<section class="section-familias pt-2">
    <div class="row text-center">
        <h2 i18n="Ciudades|Ciudades actuales@@ciudades">Actualmente estamos en estas ciudades</h2>
    </div>

    <ngb-carousel class="carousel">
      <ng-template *ngFor="let ciudad of ciudades" ngbSlide>
        <div class="box">
          <img src="{{ ciudad.img }}">
        </div>
        <div class="carousel-caption">
          <h3>{{ ciudad.name }}</h3>
        </div>
      </ng-template>
    </ngb-carousel>

</section>
