
.contact-form{
    width:60%;
    margin: 0 auto;
    
}


.span-3-of-3{
    width: 100%
}

.span-2-of-3{
    width: 66%
}

.span-1-of-3{
    width: 33%
}


@media only screen and (max-width:480px){
    .span-3-of-3{
    width: 100%
    }

    .span-2-of-3{
        width: 100%
    }

    .span-1-of-3{
        width: 100%
    }

}