$ancho-foto:70%;
$color-texto: aliceblue;
$padding-container: 80px;
$font-btn-regisForgot: 0.8rem;
$web-font-path: "http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic'" !default;
$margin-btn: 2vh;
$margin-right-btn:7vw;
$web-icons-path: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css";
$width-profile: 100%;
$tamanos_logo: 5;
$hover_color: #639DF1;
@import url($web-font-path);
@import url($web-icons-path);